body {
    background-color: rgb(24, 24, 24);
    display: grid;
    place-items: center;
}
.container {
    display: grid;
    place-items: center;
    height: 170px;
    width: 170px;
    border-radius: 30%;
    background-image: linear-gradient(to bottom right, blue,rgb(82, 0, 82),red,yellow);
}
.outer {
    height: 100px;
    width: 100px;
    border: 9.5px solid aliceblue;
    border-radius: 25%;
    display: grid;
    place-items: center;
}
.middle {
    height: 13px;
    width: 13px;
    background-color: aliceblue;
    position: absolute;
    top: -20px;
    left: 47px;
    border-radius: 50%;
}
.inner {
    height: 40px;
    width: 40px;
    border: 9.5px solid aliceblue;
    border-radius: 50%;
    position: relative;
}