body {
    background-color: rgb(24, 24, 24);
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    border-radius: 3px;
    font-size: 24px;
    padding: 20px 4px 23px;
}

a:hover {
    animation: bgColor .8s linear infinite;
}

span {
    color: white;
    background: black;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    padding: 18px 24px;
    position: relative;
    top: 2px;
}

@keyframes bgColor {
    0% {
        background: linear-gradient(115deg,#4fcf70#fad648,#a767e5,#12bcfe,#44ce7b);
    }
    20% {
        background: linear-gradient(115deg,#fad648,#a767e5,#12bcfe,#44ce7b,#4fcf70);
    }
    40% {
        background: linear-gradient(115deg,#a767e5,#12bcfe,#44ce7b,#4fcf70,#fad648);
    }
    60% {
       background: linear-gradient(115deg,#12bcfe,#44ce7b,#4fcf70,#fad648,#a767e5);
    }
    80% {
        background: linear-gradient(115deg,#44ce7b,#4fcf70,#fad648,#a767e5,#12bcfe);
     }
    100% {
        background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    }
}